<div class="header-top-wrap">
    <div class="container">
      
        <ul class="social_icon-header">
            <li><a href="https://www.facebook.com/fayaport80/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/FayaPort80" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/fayausa" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li class="meetup"><a href="https://www.meetup.com/FAYA-PORT-80/" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
<header>
    <a href="#">
        <img src="./assets/images/logo.png" class="logo"  width="200" height="46"/>
    </a>
    <ul class="main-nav">
      <li>
        <a href="#">Disrupt Kerala</a>
      </li>
      <li>
        <a href="#">Speakers</a>
      </li>
      <li>
        <a href="#">Gallery</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      
    </ul>
</header>
