<footer>
    <div class="container">
      <div class="footer-widget" id="contactus">
        <h5>Contact Us </h5>
        <span>FAYA Corporation</span><br>
        <span>Email on <a href="mailto:info@fayausa.com">info@fayausa.com</a></span><br>
        <span>call - 866-686-5988</span>
      </div>
      <p class="copy-right-footer">Copyright ©
          <a href="http://fayausa.com">FAYA Corporation</a> 2018.<br> Thejaswini, Technopark Campus, Thiruvananthapuram, Kerala, India
      </p>
       <ul class="social_icon">
          <li><a href="https://www.facebook.com/fayaport80/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/FayaPort80" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/fayausa" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li class="meetup"><a href="https://www.meetup.com/FAYA-PORT-80/" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a></li>
        </ul>
    </div>
  </footer>
